/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
/*整站会社去掉注释即可*/
/*
html{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}  
*/

html, body, body *
{
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 0px;
    border-color: inherit;
}
body
{   
    font: 75%  Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
  /* background-color: #CCFFFF;*/
}
.page
{
    width: 1000px;
    background-color: #fff;
}
.page-search,.page-search *,.middle,.middle *,.bottom,.bottom *
{
    overflow: hidden;
}
a
{
    color: #696969;
}
a:link
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
}
a:active
{
    text-decoration: none;
}

p, ul
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}
hr
{
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: #CCCCCC;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"]
{
    border: 1px solid #CCC;
}

input[type="password"]
{
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/*===============*/
/* RSS */
.rss, a.rss, a:visited.rss, a:active.rss
{
    background-position: left top;
    display: block;
    padding: 0 0 0 16px;
    background-image: url('../images/rssbtn.png');
    background-repeat: no-repeat;
    float: right;
    margin: 0 10px;
    vertical-align: middle;
    text-align: left;
    color: #808000;
    line-height: 20px;
    width: 60px;
    height: 16px;
    font-weight: bold;
    margin-top:8px;
    
}