<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=61.154.117.248,11338;Initial Catalog=webJTJT;User ID=qzjtjtDB;password=qzjtjtDB.123" providerName="System.Data.SqlClient" />
    <add name="webJTJTConnectionString" connectionString="Data Source=61.154.117.248,11338;Initial Catalog=webJTJT;User ID=qzjtjtDB;password=qzjtjtDB.123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="webTitle" value="泉州市交通运输集团有限责任公司" />
    <add key="IndexTheme" value="Index" />
    <add key="ArticleTheme" value="ArticleWhite" />
    <add key="ProductTheme" value="ProductWhite" />
    <add key="ManageTheme" value="manage" />
    <add key="CustomerServiceTheme" value="CustomerService" />
    <add key="GeneralTheme" value="General" />
    <add key="RSSDomain" value="www.qzjtjt.com" />
    <add key="OpenMoveMsg" value="false" />
    <add key="AutoPush" value="false" />
    <add key="LetterAutoShow" value="false" />
    <add key="HolidayTheme" value="Holiday_MayDay" />
    <add key="SetModel" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" name="MyCookie" />
    </authentication>
    <membership defaultProvider="EwordAspNetSqlMembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="">
      <providers>
        <clear />
        <add connectionStringName="LocalSqlServer" name="EwordAspNetSqlMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1" passwordStrengthRegularExpression="" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <profile>
      <!--<providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>-->
      <properties>
        <add name="FriendlyName" />
        <add name="TEL" />
      </properties>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="EwordAspNetSqlRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="LocalSqlServer" applicationName="/" name="EwordAspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
      </namespaces>
    </pages>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <siteMap defaultProvider="MvcSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="MvcSiteMapProvider" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Mvc.Sitemap" securityTrimmingEnabled="true" cacheDuration="10" enableLocalization="true" scanAssembliesForSiteMapNodes="true" includeAssembliesForScan="" excludeAssembliesForScan="" attributesToIgnore="visibility" nodeKeyGenerator="MvcSiteMapProvider.DefaultNodeKeyGenerator, MvcSiteMapProvider" controllerTypeResolver="MvcSiteMapProvider.DefaultControllerTypeResolver, MvcSiteMapProvider" actionMethodParameterResolver="MvcSiteMapProvider.DefaultActionMethodParameterResolver, MvcSiteMapProvider" aclModule="MvcSiteMapProvider.DefaultAclModule, MvcSiteMapProvider" siteMapNodeUrlResolver="MvcSiteMapProvider.DefaultSiteMapNodeUrlResolver, MvcSiteMapProvider" siteMapNodeVisibilityProvider="MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, MvcSiteMapProvider" siteMapProviderEventHandler="MvcSiteMapProvider.DefaultSiteMapProviderEventHandler, MvcSiteMapProvider" />
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel> 
    <client>
      <endpoint address="http://localhost:24911/Services/ShareArticle.svc"
        binding="basicHttpBinding" bindingConfiguration="ShareArticle"
        contract="ServiceShareArticle.IShareArticle" name="ShareArticle" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="ShareArticleBinding" />
        <binding name="ShareArticle" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ShareArticleBehaviors" name="eulei.shop.Services.ShareArticle">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ShareArticleBinding"
          name="ShareArticle" contract="eulei.shop.Services.IShareArticle" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ShareArticleBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>