.article-details
{    

    text-align: left;  
  margin:0 15px;
}
.article-details-box
{
    margin:0 0 25px 0;
}

.article-details-box-date
{
    text-align: center;
    padding: 0px;
    width: 45px;
    padding-right: 2px;
    padding-top:5px;
    float: left;
    height: 50px;
    background-image: url('../images/calendar.gif');
    background-repeat: no-repeat;
}
.article-details-box-date-yearandmonth
{
    text-align: center;
    color: #ffffff;
    font-size: 8px;
    font-weight:500;
}
.article-details-box-date-day
{
    font-size: 22px;
    color: #666666;
}




.article-details-box-title
{
    text-align: left;
}
.article-details-box-title H1
{
    text-align: left;
    border-bottom: #e0e0e0 1px solid;
    padding-bottom: 5px;
        font-size: 15px;
    letter-spacing: -1px;   
}
.article-details-box-title H1 A
{
    color: #666666;
    text-decoration: none;
}
.article-details-box-title .categories
{
    padding-bottom: 2px;
    padding-left: 20px;
    margin-left: 5px;
    padding-top: 2px;
    background-image: url('../images/folder.gif');
    background-repeat: no-repeat;
}

.article-details-box-content
{
     text-align:left;
     margin:10px;
    }
.article-details-box-footer
{
    padding-bottom: 10px;
    line-height: 16px;
    margin: 0px;
    padding-left: 5px;
    width: 100%;
    padding-right: 10px;
    height: 16px;
    font-size: 14px;
    padding-top: 10px;
}
.article-details-box-footer P
{
    display: inline;
}
.article-details-box-footer-tags
{
    background-position: left center;
    padding-left: 20px;
    margin-bottom: 5px;
    background-image: url('../images/tags.gif');
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    line-height: 33px;
}
.article-details-box-footer-docomment
{
    background-position: left center;
    background-image: url('../images/comments.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 5px;
    float: right;
    line-height: 33px;
}