

.searchBox {
    text-align: left;
    overflow: hidden;
}

    .searchBox DIV {
        float: left;
        vertical-align: middle;
    }

    .searchBox SearchText {
        width: 50px;
    }

    .searchBox DIV input.SearchText, .searchBox select {
        width: 100px;
    }

.leaveWordTable {
    border: 2px outset #CCCCCC;
}

    .leaveWordTable tr {     
        border:none;
        text-align: left;
        vertical-align: top;
        margin: 10px 0px;
        overflow: hidden;
    }

    .leaveWordTable td {
        border-width: 2px 0px 2px 1px;
        padding-left: 15px;
        border-top-style: outset;
        border-bottom-style: outset;
        border-top-color: #CCCCCC;
        border-bottom-color: #CCCCCC;
        border-left-style: solid;
        border-left-color: #CCCCCC;
    }

    .leaveWordTable .title strong {
        float: left;
    }

    .leaveWordTable .title {
        border-bottom: 1px solid #cccccc;
        width: 100%;
    }

    .leaveWordTable * {
        overflow: hidden;
    }

    .leaveWordTable strong {
        line-height: 16px;
    }
