input[type="text"]
{
    width: 200px;
    border: 1px solid #CCC;
    height: 20px;
    text-align: left;
    vertical-align: middle;
}

input[type="password"]
{
    height: 20px;
    text-align: left;
    vertical-align: middle;
    width: 200px;
    border: 1px solid #CCC;
}
.loginbg
{
    background-image: url('../images/loginbg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    width: 1000px;
    height: 768px;
    text-align: left;
    position: relative;
}
.lgdbg
{
    background-color: #3aa4d4;
    background-position: 50% top;
    background-image: url('../images/lgbg.jpg');
    background-repeat: repeat-x;
}
.loginValidationMessage
{
    position: absolute;
    top: 250px;
    left: 570px;
    margin: 0px;
    padding: 0px;
}
.loginUserName
{
    position: absolute;
    top: 300px;
    left: 530px;
    margin: 0px;
    padding: 0px;
}
.loginPassword
{
    position: absolute;
    top: 339px;
    left: 530px;
    margin: 0px;
    padding: 0px;
}
.loginbutton
{
    position: absolute;
    top: 377px;
    left: 534px;
    margin: 0px;
    padding: 0px;
}
.loginbutton input[type=submit]
{
    margin: 0px;
    padding: 0px;
    top: -4px;
    left: 113px;
    width: 95px;
    height: 28px;
    border: none;
    background: none;
    position: absolute;
}
