.merchandise-box
{
    height: auto;
    text-align: left;
}
.merchandise-box-top
{
    margin-bottom: 15px;
    width: 640px;
    height:160px;;
}
.merchandise-box-top img
{
    width: 240px;
    height: 150px;
    float: left;
}

.merchandise-box-top-right
{
    width: 370px;
    float: left;
    padding-left: 15px;
}

