/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
/*整站会社去掉注释即可*/
/*
html{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}  
*/

html, body, body *
{
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 0px;
    border-color: inherit;
}
body
{
    /*  background-color: #CCFFFF;  */
    font: 75% Tahoma, Helvetica, Arial, 'Microsoft Yahei' , sans-serif;
    margin: 0;
    padding: 0;
    color: #696969;
}
.page
{
    width: 1000px;
    background-color: #fff;
}
.article-page-middle, .article-page-middle *,.bottom, .bottom *
{
    overflow: hidden;
}
a
{
    color: #696969;
    text-decoration: none;
}
a:link
{
    text-decoration: none;
}
a:visited
{
}
a:hover
{
    text-decoration: none;
}
a:active
{
}

p, ul
{
    margin-bottom: 20px;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

hr
{
    border-style: none;
    border-top-style: solid;
    border-top-width: 0.5px;
    border-top-color: #CCCCCC;
}
/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"]
{
    border: 1px solid #CCC;
}

input[type="password"]
{
    border: 1px solid #CCC;
}
span.mark
{
     color:#ff0000;
     font-weight:800;
    }
/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/*===========
分页
============*/
.pager 
{

    }
/* Styles for pagination
----------------------------------------------------------*/
a.paginationlink
{
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0px 6px;
  text-decoration: none;
  float: left;
  border: 1px solid #ddd;
  text-align: center;
  margin-right: 2px;
}

a.paginationlink.selected, a.paginationlink:hover
{
  font-weight: bold;
  color: #fff;
  background-color: #5C87B2;
}

/* Styles for sorting
----------------------------------------------------------*/
a.sortlink.selected
{
  padding-right: 16px;
}

a.sortlink.up, a.sortlink.down:hover
{
  background-repeat: no-repeat;
  background-image: url(/Content/Images/bullet_arrow_up.png);
  background-position: right;
}

a.sortlink.down, a.sortlink.up:hover
{
  background-repeat: no-repeat;
  background-image: url(/Content/Images/bullet_arrow_down.png);
  background-position: right;
}

/* Styles for custom pagination
----------------------------------------------------------*/
a.custompaginationlink
{
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0px 6px;
  text-decoration: none;
  float: left;
  border: 1px solid #ddd;
  text-align: center;
  margin-right: 2px;
}

a.custompaginationlink.selected, a.custompaginationlink:hover
{
  font-weight: bold;
  color: #fff;
  background-color: #5C87B2;
}
