
.style {
    background-image: url('../images/style.png');
}

.page-head-top {
    height: 152px;
}

.page-head-top-logodiv {
    overflow: hidden;
}

.page-head-top-logo {
    float: left;
}

.page-middle {
    margin-top: 10px;
}

.page-middle-left {
    width: 180px;
    float: left;
}

.page-middle-right {
    width: 820px;
    float: right;
}

.page-middle-right-top {
    height: 205px;
    text-align: right;
    padding-top: 2px;
}

.page-middle-right-bottom-left {
    width: 640px;
    float: left;
}

.page-middle-right-bottom-left-box {
    margin: 5px 5px 0 5px; /* border: 1px solid #CCCCCC;*/
}

.page-middle-right-bottom-right {
    width: 180px;
    float: right;
    margin-top: 5px;
}

/*===========
菜单
============*/
.page-head-top-menuBox {
    height: 42px;
    background-position: 0px 0px;
    background-image: url('../images/style.png');
    background-repeat: repeat-x;
    vertical-align: bottom;
    width: 1000px;
}

#menu {
    float: left;
    padding-left: 15px;
}

    #menu li.node {
        float: left;
        display: inline;
        list-style: none;
        position: relative;
    }

        #menu li.node a.node {
            font-size: 18px;
            font-family: '黑体', 'Microsoft Yahei';
            line-height: 30px;
            padding: 0px 12px;
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            display: block;
            margin: 5px 0 0 0;
            height: 22px;
        }


            #menu li.node a.node:active, #menu li.node a.node.click, #menu li.node a.node:hover {
                background-position: 0px -200px;
                background-image: url('../images/style.png');
                color: #006600;
                padding-bottom: 15px;
            }

            #menu li.node a.node:active {
                color: Red;
            }

.nodeBox {
    display: none;
}

.nodeBox-title {
    height: 17px;
    position: relative;
    z-index: 2;
    background-image: url('../images/navv.png');
    background-repeat: no-repeat;
}

.nodeBox-box {
    border: 2px outset #FBFBFB;
    background-color: #FFFFFF;
    z-index: 1;
    position: absolute;
    top: 12px;
    left: 0px;
    padding: 10px 0px;
}

    .nodeBox-box li {
        border-width: 0px;
        list-style-type: none;
        background: none;
        list-style-image: none;
        width: 105px;
    }

#menu li.node1 {
    float: left;
    display: inline;
    padding-left: 3px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #F0F0F0;
}

#menu .nodeBox-box a:active, #menu .nodeBox-box a:hover {
    color: Red;
    font-weight: bolder;
}

#menu li.node1 a {
    border-width: 0px;
    font-family: '黑体', 'Microsoft Yahei';
    line-height: 32px;
    text-decoration: none;
    color: Black;
    font-size: 12px;
    display: block;
}

    #menu li.node1 a.node1 {
        font-size: 15px;
        font-weight: bold;
    }

#menu li.node2 a.node2 {
    font-size: 15px;
    font-weight: normal;
}

/*===========
新闻公告、优惠指南、搜索
============*/
.ui-box {
    border: 1px solid #CCCCCC;
}

.ui-box-title {
    border-bottom: 1px solid #CCCCCC;
    background-position: 0 -183px;
    height: 35px;
    background-image: url('../images/ui-bg_glass_75_1x400.png');
    background-repeat: repeat-x;
    line-height: 35px;
    text-align: left;
    padding-left: 5px;
}

.page-middle-right-bottom-right-bulletin ul {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

/*===========
产品介绍、网上服务
============*/

.middle-left {
    width: 750px;
    float: left;
}

    .middle-left hr {
        margin: 0 30px;
    }

.middle-left-merchandise, .middle-left-service {
}

.middle-left-merchandise-title, .middle-left-service-title {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 32px;
}

.merchandise, .service {
    float: left;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

.merchandise {
    width: 330px;
    height: 64px;
}



.servers {
    float: left;
    text-align: left;
    margin-left: 0px;
    margin-bottom:5px;
    width: 150px;
    height: 27px;
}

    .servers img {
        width: 27px;
        height: 27px;
        float: left;
    }

    .servers h6 {
        float: left;
        line-height:27px;
  
    }
.merchandise img {
    height: 64px;
    width: 100px;
    float: left;
}

.service img {
    width: 60px;
    height: 60px;
    float: left;
}

.service h6 {
    float: left;
    line-height: 60px;
}

.merchandise-info {
    padding-left: 5px;
}

    .merchandise-info h6 {
        margin-bottom: 5px;
    }

/*===========
热点排行
============*/

.middle-right-hot, .middle-right-hot ul {
    width: 245px;
}

/*===========
底部
============*/

.bottom {
    background-image: url('../images/bg.png');
    background-position: left -191px;
    background-repeat: repeat-x;
    width: 1000px;
    height: 140px;
    margin: 10px 0px 0px 0px;
}

.bottom-left {
    width: 750px;
    height: 138px;
    float: left;
}

.bottom-left-link {
    width: 210px;
    line-height: 45px;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}

.bottom-right {
    width: 235px;
    height: 138px;
    padding-left: 10px;
    background-image: url('../images/Vdivide.png');
    background-repeat: no-repeat;
    background-position: left 2px;
}

#bulletin {
    max-height: 150px;
    min-height: 120px;
}

#accordion {
    width: 180px;
    float: left;
    text-align: left;
}


#attention a {
    border: 1px solid #CCCCCC;
    background-color: #CCFFCC;
    width: 65px;
    height: 18px;
    line-height: 18px;
    display: block;
}

.ui-share-item-icon {
    background-position: 0px -60px;
    height: 20px;
    padding-top: 5px;
    padding-left: 5px;
    background-image: url('../images/bg-share.png');
    background-repeat: repeat-x;
}

.ui-icon-sns {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
}

.ui-icon-sns-sina {
    background-image: url('../images/bg-share.png');
    background-position: 0px -100px;
    background-repeat: no-repeat;
}

.ui-icon-sns-qq {
    background-image: url('../images/bg-share.png');
    background-position: 0px -200px;
    background-repeat: no-repeat;
}

.ui-icon-sns-renren {
    background-image: url('../images/bg-share.png');
    background-position: 0px -160px;
    background-repeat: no-repeat;
}

.ui-icon-sns-kaixin {
    background-image: url('../images/bg-share.png');
    background-position: 0px -120px;
    background-repeat: no-repeat;
}

.ui-icon-sns-douban {
    background-image: url('../images/bg-share.png');
    background-position: 0px -220px;
    background-repeat: no-repeat;
}

Hr.bottomHr {
    border-style: dotted none none none;
    border-width: 1px 0px 0px 0px;
    border-top-color: #C0C0C0;
}



.copyright {
    background-image: url('../images/bgall.png');
    background-repeat: repeat;
    height: 60px;
}

.copyright-first {
    padding-left: 95px;
}

.copyright ul {
    float: left;
    margin: 0;
    padding: 0;
}

    .copyright ul li {
        float: left;
        line-height: 32px;
    }









.divide {
    padding-left: 10px;
    background-position: 5px -3px;
    background-image: url('../images/divide.png');
    background-repeat: no-repeat;
}

.overflowHidden {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.more {
    float: right;
    color: #0066FF;
}

.w120 {
    width: 120px;
}

.w320 {
    width: 320px;
}

.w800 {
    width: 800px;
}

.h32 {
    height: 32px;
}

.h1 {
    height: 1px;
}

.h20 {
    height: 20px;
}

.fl {
    float: left;
}

.lmargin {
    margin-left: 5px;
}

.tmargin {
    margin-top: 5px;
}

.bmargin {
    margin-bottom: 5px;
}

.rmargin {
    margin-bottom: 5px;
}

.fr {
    float: right;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.tred {
    color: #FF0000;
}

.tblack {
    color: #000;
}

.tblue, a.tblue {
    color: #0066FF;
}

.list-dot {
    background-position: 7.5px 8px;
    background-image: url('../images/icon_01.gif');
    background-repeat: no-repeat;
    padding-left: 15px;
    list-style-type: none;
}

.line-height16 {
    line-height: 16px;
}

.line-height32 {
    line-height: 32px;
}

.border-left {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
}
