/*===========
模板页顶部
============*/
.page-top
{
    background-position: 50% bottom;
    width: 100%;
    height: 64px;
    background-image: url('../images/bottom_bg.gif');
    background-repeat: repeat-x;
}
.page-top-logo
{
    width: 262px;
    height: 64px;
    background-image: url('../images/logo.gif');
    background-repeat: no-repeat;
    float: left;
}

.page-top-info
{
    width: 320px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    text-align: right;
    float: right;
    padding-right: 15px;
}
.page-top-info a
{
    color: White;
}
/*===========
模板页中部
============*/
.page-middle-table
{
    width: 100%;
    height: 100%;
    min-width:1024px;
    margin: 0;
    padding: 0;
}
/*===========
模板页中部左侧
============*/
.table-left
{
    width: 195px;
    vertical-align: top;
    text-align: left;
}
.menu
{
    width: 182px;
    margin-left: 10px;
    text-align: center;
    float: none;
}
.intro
{
}
.intro-bg
{
    background-image: url('../images/menu_bg.gif');
    background-repeat: no-repeat;
}

.intro-type
{
    line-height: 30px;
    background-position: left -40px;
    height: 30px;
    font-size: 15px;
    display: block;
}

.intro-tline
{
    height: 5px;
    background-position: 50% bottom;
}
.intro ul
{
    margin: 0;
    padding: 0;
}
.intro li
{
    height: 26px;
    list-style-type: none;
    text-align: center;
    line-height: 26px;
    list-style-image: none;
}
.intro ul li a
{
    text-align:left;
    padding-left:60px;
    color: #333;
    height: 26px;
    line-height: 26px;
    width: 122px;
    display: block;
    background-position: left -152px;
}
.intro ul li A:hover
{
    background-position: left top;
    color: #006600;
}
.menufooter
{
    background-position: left -102px;
    width: 182px;
    margin-left: 10px;
    float: none;
    background-image: url('../images/menu_bg.gif');
    background-repeat: no-repeat;
    height: 26px;
}
/*===========
模板页中部右侧
============*/
.table-right
{
    border-style: none;
    min-width: 800px;
    vertical-align: top;
    text-align: left;
}
.table-right .title
{
    height: 29px; /*width:930px;line-height:29px;*/
    background-repeat: repeat-x;
    background-position: left -157px;
}
.table-right .title .bg
{
    background-position: top;
    background: url(../images/top_bt.jpg) no-repeat;
    width: 85px;
    height: 29px;
    font-weight: bold;
    text-align: center;
    line-height: 29px;
}
.table-right .title .bg .span
{
    display: block;
    margin-top: 3px;
    margin-left: 15px;
    height: 26px;
    position: absolute;
}
.l_t_bg, .r_t_bg
{
    background-repeat: no-repeat;
    width: 16px;
    height: 29px;
}
.table-right .l_t_bg
{
    background-position: left -196px;
}
.table-right .r_t_bg
{
    background-position: left -233px;
}

.table-right .view
{
    height: 100%;
    background-color: #F7F8F9;
}
.table-right .view .hh
{
    height: 600px;
}
.l_m_bg, .r_m_bg
{
    width: 16px;
}
.l_m_bg
{
    background: url(../images/mail_leftbg.gif) repeat-y -1px top;
}
.r_m_bg
{
    background: url(../images/mail_rightbg.gif) repeat-y;
}

.bottom
{
    background-repeat: repeat-x;
    background-position: top;
    height: 17px;
}
.l_b_bg, .r_b_bg
{
    background-repeat: no-repeat;
    width: 16px;
    height: 17px;
}
.table-right .l_b_bg
{
    background-position: left -27px;
}
.table-right .r_b_bg
{
    background-position: left -52px;
}

.page-bottom
{
    height: 0px;
}
/*===========
模板页中部右侧内容表格列表
============*/

#View .tbg
{
    background: url(../images/bg.gif) repeat-x;
    height: 22px;
    color: #000;
    text-align: center;
}
#View .lbg
{
    height: 20px;
    text-align: left;
    background-color: White;
    border-collapse: collapse;
}

#View .lbgalt
{
    height: 20px;
    text-align: left;
    background-color: #e8eef4;
    border-collapse: collapse;
}

#View .isemp,#View .isemp a
{
    color: Red;
}
#View .count
{
    width: 125px;
    text-align: right;
}
.bbg
{
    background: url(../images/bottom_bg.gif);
}

