

.SearchBox {
    text-align: left;
}

    .searchBox DIV {
        float: left;
        vertical-align: middle;
    }

        .searchBox DIV input {
            width: 200px;
        }

